html { 
  position: relative;
  min-height: 100%;
}

.input-group {
  width: 100%;
}

.showarticle {
  width:70%;
  margin: auto;
}

.addpostbtn a{
  margin-bottom: 10px;
  width: 100%;
}

.jobpostform .row {
  margin-bottom: 5px;
}

.jobpostform .toggle{
    margin-bottom: 5px;
}

.dropdown-toggle:hover {
  cursor:pointer;
  color: white;
}

.nav .dropdown-toggle {
  color: white;
  border: 0px;
  margin: 10px;
  height: 30px;
  width: 30px;
  margin-left: 0px;
  background-color: #980000;

  height: 50px;
  color: white;
  text-decoration: none;
  width: 40px;
  line-height:49px;
  text-align: center;

}

#loginbutton {
  margin-right: 10px;
}

.videocontainer {
    position:relative;
}
.videocontainer video {
    position:relative;
    z-index:0;
}

.qicksu {
  margin-top: 30px;
}

.overlay {
    border-radius: 10px;
    font-size: 20px;
    font-weight: 120;
    margin-top: 55px;
    margin-right: 90px;
    padding: 30px;
    background-color: black;
    color: white;
    opacity: 0.7
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}


body {
  /* Margin bottom by footer height */
  margin-bottom: 110px;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.navbar{
  background-color:#980000;
  border:0px;
  border-radius: 0px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color : white;
}

.loginsignup {
  margin: 8px;
}

.usrlogininfo {
  color: gold;
  margin: 15px;
}

.navbarpic{
  position:relative;
}

.navbarpic:hover{
   background-color: #7A0000;
}

.navbarpic img{
  border-radius: 50%;
  margin: 3px;
  width: 44px;
  height: 44px;
}
.footer {
  position: absolute;
  padding-top: 10px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 110px;
  background: -webkit-linear-gradient(white, #A0A0A0 ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #ccc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #ccc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #A0A0A0  ); /* Standard syntax */
}

.contact_info {
  display: inline;
}

.contact_info p {
  margin: 5px;
}

.qr_code {
/*  position: absolute;
  right: 10px;
  display: inline;
*/

  position: relative;
  top: -90px;
  right: 50px;
  float: right;
}

.container{
  padding:10px;
}
  .recmdp {
    margin: 20px;
    border-radius: 50%;
    float: left;
    width: 100px;
    height: 150px;
  }
  .center {
     float: none;
     margin-left: auto;
     margin-right: auto;
  }
  .recmdp img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .text-right button{
    margin-right: 10px;
  }

#recmd {
  width: 600px;
}

.recmddescip {
  text-align:center;
  margin: auto;
  display: table;
}

.text{
  width:100px;
  height:100px;
  background:#FFF;
  opacity: 0;
}
.pic:hover .text { opacity:0.6; text-align: justify;  vertical-align: middle;color:#000000  ; font-size:20px; font-weight:700; padding:10px; } 
.pic {
    background: url("../pictures/shuai.jpg");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.black_overlay{
  color: red;
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}
.white_content {
  color: red;
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index:1002;
  overflow: auto;
}

.searchbox {
 background-color: white;
 margin-bottom: 10px;
}

.starButtonOn {
  background-image:  url("../pictures/jiaStaron.png");
  background-size: 30px 20px;
  width:34px;
  height:26px;
}

.starButtonOff {
  background-image:  url("../pictures/jiaStaroff.png");
  background-size: 30px 20px;
  width:34px;
  height:26px;
}

#notficenter{
  height: 50px;
  color: white;
  text-decoration: none;
  width: 40px;
  line-height:49px;
  text-align: center;
}
#notficenter:hover{
  color: white;
  /*background: #939393;*/
}

.dropdown{
  min-width: 180px; /* Set width of the dropdown */
  background: #D8D8D8;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  padding:0px;
}

#notficenter:hover + .dropdown{
  display: block; /* Display the dropdown */
}
.dropdown:hover{
  display: block; /* Display the dropdown */
}

.dropdown li{
  list-style: none;
}
.dropdown a{
  display: block;
  width:100%;
  padding:10px;
  cursor:pointer;
  text-decoration: none;
  color: black;
}
.dropdown a:hover{
  text-decoration: none;
}

.dropdown li:hover a{
  color: white;
}
.dropdown li:hover{
  background: #939393;
}

.dropdown .badge {
  background: #FF1F1F;
}

.glyphicon-envelope.hasNotify:after {
  content : " ";
  display:block;
  width:10px;
  height:10px;
  border-radius: 5px;
  background-color: #FF1F1F;
  position: absolute;
  top: 10px;
  left:25px;
}
.glyphicon-envelope:before {
    font-size: 20px;
}

.navbar-right .dropdown-menu {
    right: 5px;
}


.setting-row {
  margin-bottom: 5px;
}


.setting-item {
  text-align:right;
}


.notes table tr td b {
  font-weight: 900;
}

.deletePost {
  color: red;
  font-size: 170%;
  position: relative;
  margin-left:10px;
  top: -9px;
}

.deletePost:hover {
  text-decoration: none;
}

.star{
  font-size: 170%;
  border: 0px;
  margin-left:10px;
  background-color: white;
  color: #FFCC00;
  right: 0px;
  top: -5px;
}

.searchbox div {
  padding: 0px;
  padding-right: 10px;
}
.searchbox button {
  padding-right: 0px;
}

#replybutton{
  margin-top: 10px;
}

.subreply {
  margin-left: 30px;
  margin-top: 10px;
  width: 70%;
}

